<div>
<h2>Credit Card Information</h2>
</div>
<%= form_with model: @order, :method => :patch,  class: 'product-form' do |f| %>
  <form>
    <div class="form-group">
      <label for= "Checkout" >Name on Credit Card</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="Email">Email</label>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="Email">Address</label>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="Email">Credit Card Number</label>
      <%= f.text_field :cc_num, placeholder: "1234567890123456", class: "form-control"%>
    </div>
    <div class="form-group">
      <label for="Email">CVV</label>
      <%= f.text_field :cc_cvv, placeholder: "123", class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="Email">Expiration</label>
      <%= f.text_field :cc_expiration, placeholder: "MMYYYY", class: "form-control"%>
    </div>
    <div class = "form-group-row">
      <label for="zip_code">Zip Code</label>
      <%= f.text_field :zip_code, placeholder: "98105", class: "form-control"%>
    </div>
    <div class = "form-group-row">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </form>
<% end %>

