<%= form_with model: @order, :method => :patch,  class: 'product-form' do |f| %>
<form>
  <div class= "form-group">
    <%= f.label :name, "Name on Credit Card" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  
  <div class = "form-group">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class = "form-group">
    <%= f.label :address, "Address" %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
 
  <div class = "form-group">
    <%= f.label :cc_num, "Credit Card Number" %>
    <%= f.text_area :cc_num, placeholder: "1234567890123456", class: "form-control"%>
  </div>

  <div class = "form-group">
    <%= f.label :cc_cvv, "CVV" %>
    <%= f.text_field :cc_cvv, placeholder: "123", class: "form-control" %>
  </div>

   <div class = "form-group">
    <%= f.label :cc_expiration, "Expiration" %>
    <%= f.text_field :cc_expiration, placeholder: "mm/yyyy", class: "form-control"%>
  </div>

  <div class = "form-group">
    <%= f.label :zip_code, "Zip Code" %>
    <%= f.text_field :zip_code, placeholder: "98105", class: "form-control"%>
  </div>

  <div class = "form-group">
  <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
  </form>
  <% end %>

