<%if @order_items%>
<article class="confirmation">
  <section class="order-title">
    <h3>Order #<%= @order.id %></h3>
    <h5><%=@order.updated_at.strftime("%B %d, %Y at %I:%M %p")%></h5>
    <h6><strong>Status:</strong> <%= @order.status.capitalize %></h6>
    <h6><strong>Total:</strong> <%= number_to_currency(@order.total) %></h6>
  </section>
  <br>
  <section class="customer-info">
    <h6><strong><%= @order.name %></strong></h6>
    <h6><%= @order.email %></h6>
    <h6><%= @order.address %></h6>
    <h6><%= @order.email %></h6>
    <h6><%= @order.mask(@order.cc_num) %></h6>
  </section>
  
<table class="table table-borderless">
  <thead class="order-items-header">  
  </thead>
  
  <% @order_items.each do |order_item| %>
    <th class="product-name"><%= link_to order_item.product.name, product_path(order_item.product) %></th>
    <tr>
     <td>Quantity</td> 
     <td><%= order_item.quantity %></td>
    </tr>
    <tr>
     <td>Subtotal</td>
     <td><%= number_to_currency(order_item.subtotal) %></td>
    </tr>
  <% end %>
    <tr>
    <th>Order total </th>
    <td><%= number_to_currency(@order.total) %></td>
    </tr>
  <% else %>
Nothing in Cart to show
  <% end %>
</article>

