<% @order_items.each do |order_item|%>
<ul>
  <li><%=order_item.product.name%></li>
  <li><%=order_item.product.price%></li>
  <li>Quantity: <%=order_item.quantity%></li>
  <li><%= form_tag order_item_path(order_item), method: :patch%></li>
  <%# <%= text_field_tag :quantity%> 
  <li><%= text_field_tag "order_items[#{order_item.id}]", order_item.quantity, :id => "order_items_#{order_item.id}" %></li>
</ul>
<% end %>
  <%= submit_tag "Update", class: "btn btn-primary"%>

