<% @order_items.each do |order_item|%>

  <%=order_item.product.name%>
  <%=order_item.product.price%>
  <p>Quantity: <%=order_item.quantity%></p>
  <%= form_tag order_item_path(order_item), method: :patch%>
  <%= text_field_tag :quantity %>
  <%= submit_tag%>
    
<% end %>
