<h1>Your cart</h1>

<table class="table table-borderless">
  <thead class="order-items-header">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col"></th>
      <th scope="col">Subtotal</th>
    </tr>
  </thead>
  
  <tbody>
  <%if @order_items != []%>
    <% @order_items.each do |order_item|%>
      <tr>
        <%= form_tag order_item_path(order_item), method: :patch%>
        <td scope="row"><%=link_to order_item.product.name, product_path(order_item.product)%></td>
        <td>$<%= order_item.product.price %></td>  
   
        <td>
          <div class="value-button" onclick="decreaseValue('<%= order_item.id %>')" value="Decrease Value">-</div>
          <input type="quantity" id="order-item<%= order_item.id %>" value="<%= order_item.quantity %>" name="order_items[<%= order_item.id %>]"  />
          <div class="value-button" onclick="increaseValue('<%= order_item.id %>')" value="Increase Value">+</div>
        </td>
        <td><em><%= link_to 'Remove', order_item_path(order_item), method: :delete, confirm: 'are you sure?' %></em></td>
        <td>$<%= order_item.subtotal %></td>
      </tr>
    <% end %>
    
    <tr class="spacer">
        <td colspan="5">
      </tr>
      <tr class="spacer">
        <td colspan="4">
        <td class="total"><pre><strong>Cart Total:</strong>   <%= number_to_currency(@order.total) %></pre></td></td>
      </tr>
      <tr class="submit">
        <td></td>
        <td></td>
        <td></td>
        <th scope="row">
        
      </tr>
  </tbody>
</table>
  <td><%= submit_tag "Save changes", class: "btn btn-table" %></td>
  <%else%>
    <h3>Your cart is empty</h3>
    <%= link_to "Back to Home", root_path, method: :get%>
  <%end%>
  <div>
  <%= link_to "Checkout", order_checkout_path(@order), method: :get%>
  <div>



