<h2><%= @merchant.name %></h2>
  <p><%=@merchant.email %></p>
  <ul class="merchant-stats">
    <li><strong>Total revenue:</strong> <%= number_to_currency(@merchant.total_revenue) %></li>
    <li><span class="badge badge-pill badge-info"><%= @merchant.orders.where(status: "paid").count %></span><strong>Completed Orders:</strong> <%= number_to_currency(@merchant.paid_order_items) %></li>
    <li><span class="badge badge-pill badge-info"><%= @merchant.orders.where(status: "pending").count %></span><strong>Pending Orders:</strong> <%= number_to_currency(@merchant.pending_order_items) %></li>
  </ul>

<br><section class="merchant-products">
  <table class="table">
    <h4>My Products</h4>
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Categories</th>
        <th>Price</th>
        <th>Description</th>
        <th>In Stock</th>
        <% session[:merchant_id] == @merchant.id %>
          <th>Update</th>
          <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @merchant.products.order(:id).each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td>
        
            <% product.categories.each do |category| %>
              <span class="badge badge-light"><%= category.name %></span>
            <%end %>

          </td>
          <td><%= number_to_currency(product.price) %></td>
          <td><%= product.description %></td>
          <td><%= product.stock %></td>
          <td><%= link_to "Update", edit_product_path(product), class: "btn btn-primary" %></td>
          <td>
            <% if product.active? %>
            <%= link_to "Active", update_status_product_path(product), class: "btn btn-primary", method: :patch %>
            <% else %>
            <%= link_to "Inactive", update_status_product_path(product), class: "btn btn-primary inactive", method: :patch %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
<br>
<br>


<h4>My Orders</h4>
<table class="table">
  <thead  class="thead-light">
    <tr>
      <th scope="col">Order #</th>
      <th scope="col">Created On</th>
      <th scope="col">Status</th>   
    </tr>
  </thead>
  <tbody>
    <% @merchant.orders.each do |order| %>
      <tr>
        <td scope="row"><%= link_to "#00000#{order.id}", order_confirmation_path(order) %></td>
        <td><%= link_to order.created_at.strftime("%B %d, %Y"), order_path(order.id) %></td> 
        <td><%= order.status %></td>   
      </tr>
    <% end %>