<h2><%= @merchant.name %></h2>
  <p><%=@merchant.email %></p>

<%# <%= session[:merchant_id]%>
<br><section class="merchant-products">
  <table class="table table-borderless">
    <h5>Products</h5>
    <thead>
      <tr>
        <th>Name</th>
        <th>Categories</th>
        <th>Price</th>
        <th>Description</th>
        <th>In Stock</th>
        <% session[:merchant_id] == @merchant.id %>
          <th>Update</th>
          <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @merchant.products.order(:id).each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td>
        
            <% product.categories.each do |category| %>

                <%= category.name %>

            <%end %>

          </td>
          <td><%= product.price %></td>
          <td><%= product.description %></td>
          <td><%= product.stock %></td>
          <td><%= link_to "Update", edit_product_path(product), class: "btn btn-primary" %></td>
          <td>
            <% if product.active? %>
            <%= link_to "Active", update_status_product_path(product), class: "btn btn-primary", method: :patch %>
            <% else %>
            <%= link_to "Inactive", update_status_product_path(product), class: "btn btn-primary inactive", method: :patch %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class="order-fulfillment">
 <p>Total revenue: <%= number_to_currency(@merchant.total_revenue) %></p>
 <p>Revenue from Completed Orders: <%= number_to_currency(@merchant.paid_order_items) %>
 <p>Revenue from Pending Orders: <%= number_to_currency(@merchant.pending_order_items) %>
</section>
