<h1><%=@category.name%></h1>
<% @products_by_categories.each do |product| %>
<h2><%= link_to product.name, product_path(product) %></h2>
<%# <%= image_tag("#{@product.photoURL}") %> 
<ul class="list-group">
  <li class="list-group-item">Price: <%=number_to_currency(product.price) %></li>
  <li class="list-group-item">Description: <%=product.description %></li>
  <%if product.stock == 0%>
  <li class="text-white bg-dark">Out of Stock</li>
  <%else%>
  <li class="list-group-item"><%= link_to "Add to cart", product_order_items_path(product), method: :post, class: "btn btn-primary btn-lg" %></li>
  <%end%>
</ul>
<%end%>