<h2><%= @product.name %></h2>
<%# <%= image_tag("#{@product.photoURL}") %> 
<ul>
  <li><%=@product.description %></li>
  <li><%=@product.price %></li>
  <li><%= link_to "Add to cart", order_items_path, method: :post, class: "btn btn-primary" %></li>
</ul>
