<h2><%= @product.name %></h2>
<%# <%= image_tag("#{@product.photoURL}") %> 
<ul class="list-group">
  <li class="list-group-item">Price: <%=number_to_currency(@product.price) %></li>
  <li class="list-group-item">Quantity in stock: <%=@product.stock%></li>
  <li class="list-group-item">Description: <%=@product.description %></li>

  <li class="list-group-item"><%= link_to "Add to cart", product_order_items_path(@product), method: :post, class: "btn btn-primary btn-lg" %></li>
</ul>

<%=link_to "Add Review", new_product_review_path(@product)%>
<%if @product.reviews.count == 1%>
<strong><%=@product.reviews.count%> Review</strong>
<%else%>
<strong><%=@product.reviews.count%> Reviews</strong>
<%end%>
<%@product.reviews.each do |review|%>
<ul>
<li><%=review.rating%> out of 5 stars</li>
<% review.rating.to_i.times do  %>
 <i class="fa fa-star", aria-hidden="true"> </i>
<% end %>
<% (5-review.rating).to_i.times do  %>
 <i class="fa fa-star-o", aria-hidden="true"> </i>
<% end %>
<li><%=review.name%></li>
<li><%=review.created_at.strftime("%B %d, %Y at %I:%M %p")%></li>
<li><%=review.comment%></li>
</ul>
<% end %>


